<div class="container">
    <div class="header" data-ng-controller="Dashboard.MenuController">
        <ul class="nav nav-pills pull-right">
            <li data-ng-repeat="link in links" data-ng-class="{active: isActive(link)}">
                <a data-ui-sref="{{link.state}}">{{link.name}}</a>
            </li>
            <li><a href="/api/auth/logout" target="_self">Logout</a></li>
        </ul>
        <h3 class="text-muted">Dashboard</h3>
    </div>

    <div data-ui-view></div>

    <div class="footer">
        <p>&copy; Company 2013</p>
    </div>

</div> <!-- /container -->